* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b7f5;
    --twitter-background: #e6ecf0;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
}

/* left sidebar */
.left-sidebar {
    border-right: 1px solid var(--twitter-background);
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.sidebarContainer {
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.fa-twitter {
    padding: 20px;
    color: var(--twitter-color);
    font-size: 30px;
}

.fa-solid {
    padding: 20px;
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
}

.fa-regular {
    padding: 20px;
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
}

/* .material-symbols-sharp {
    padding: 20px;
    font-variation-settings:
    'FILL' 1,
    'wght' 800,
    'GRAD' 0,
    'opsz' 48
} */

.material-symbols-outlined {
    padding: 15px;
    /* font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48 */
  }

/* .left-btm-box {
    clear: both;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

#icon-btm {
    align-content: flex-start;
}

#text-btm {
    align-content: flex-end;
} */


.sidebarContainer h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }

.sidebarContainer:hover {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }

.sidebarTweet {
    margin-top: 20px;
    height: 45px;
    width: 90%;
    border-radius: 30px;
    background-color: var(--twitter-color);
    border: none;
    color: white;
    font-weight: 800;
    
  }

  .profile-icon {
    bottom: 20px;
  }

/* main - feed*/
.feed {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

.feed_header {
    /* stay at top while rest moves */
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
} 

/* home */
.feed_header h2 {
    font-size: 15px;
    font-weight: 900;
}

.tweetbox {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
}

.tweetbox_info {
    display: flex;
    padding: 15px;

}

.tweetbox_info img {
    border-radius: 50%;
    height: 50px;
    padding: 5px;
}

.tweetbox_info input {
    flex: 1;
    margin-left: 15px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetbox-icons {
    color: var(--twitter-color);
}

.tweetbox_button {
    border: none;
    background-color: var(--twitter-color);
    color: white;
    font-weight: 750;
    height: 30px;
    width: 70px;
    border-radius: 30px;
    margin-left: 75px;
}

/* posts */
.post {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding: 10px;
}

.posts_header {
    flex: 1;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}

/* .posts_id {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 15px;
} */

.avatar img {
    margin-top: 5px;
    border-radius: 50%;
    height: 40px;
    padding: 5px;
}

/* .posts_header h3 {
   
} */

.posts_check {
    font-size: 15px;
    color: var(--twitter-color);
}

.posts_username {
    font-size: 15px;
    font-weight: 500;
    color: grey
}

/* .posts_body {
    
} */

.posts_text::-webkit-scrollbar {
    display: none;
}

.posts_text{   
    margin-bottom: 10px;
    font-size: 15px;
    min-width: fit-content;
    overflow-x: scroll;
    padding: 5px;
}

.posts_body img {
    border-radius: 20%;
    width: 400px;
    height: auto;
    object-fit: contain;
}

.posts_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* hide scroll bar */
.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    overflow-x: scroll;
    scrollbar-width: none;
}